{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Debt</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Debdescription</th>
                <td>{{ entity.debDescription }}</td>
            </tr>
            <tr>
                <th>Debinterestrate</th>
                <td>{{ entity.debInterestRate }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('debt') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('debt_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
