{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Loan list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Person</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('loan_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.loaPer.perName }}</td>
                <td>{{ entity.loaTra.traDate | date('Y-m-d') }}</td>
                <td>$ {{ entity.loaTra.traAmount | number_format(2, ',', '.') }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('loan_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('loan_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('loan_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
