{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/zahler/css/main.css') }}" />
{% endblock %}
{% block body -%}
    {% include 'ZahlerBundle:Transaction:new.html.twig' %}
    <h1>Transaction list</h1>

    <table class="records_list">
        <thead class="records_list">
            <tr>
                <th>Id</th>
                <th>Tradate</th>
                <th>Tradescription</th>
                <th>Account</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('transaction_show', { 'id': entity.id }) }}">{{ entity.traDate|date("Y-m-d") }}</a></td>
                <td>{{ entity.traDescription }}</td>
                <td>{{ entity.account }}</td>
                <td>{{ entity.debitAmount }}</td>
                <td>{{ entity.creditAmount }}</td>
                <td>{{ entity.balance }}</td>
                <td>
                <ul>
                    <!-- <li>
                        <a href="{{ path('transaction_show', { 'id': entity.id }) }}">show</a>
                    </li> -->
                    <li>
                        <a href="{{ path('transaction_edit', { 'id': entity.id, 'accId': accId }) }}">edit</a>
                    </li>
                    <li>
                        {{ form(entity.deleteFormView) }}
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <!-- <ul>
        <li>
            <a href="{{ path('transaction_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> -->
{% endblock %}
    
